<footer class="footer">
    <div class="main-line"></div>
    <div class="footer-wrapper content-wrap">
        <div class="footer__logo logo">
            <div class="logo__wrap">
                <img src="/img/header/logobg.png" alt="logobg" class="logo__img-bg">
                <img src="/img/header/Dansk.png" alt="Dansk" class="logo__img-dansk">
                <img src="/img/header/Studio.png" alt="Studio" class="logo__img-studio">
            </div>
            <div class="logo__title">студия изучения датского языка</div>
        </div>
        <nav class="footer__nav">
            <div class="nav-item">Услуги</div>
            <div class="nav-item">О преподавателе</div>
            <div class="nav-item">Оплата</div>
            <div class="nav-item">Отзывы</div>
            <div class="nav-item">Политика конфиденциальности</div>
            <div class="nav-item">Договор оферты</div>
        </nav>
        <div class="footer__contacts">
            <div class="footer__title">Контакты</div>
            <div class="footer__contacts-wrap">
                <img src="/img/footer/Telegram App.png" alt="Telegram" class="footer__contacts-img">
                <img src="/img/footer/WhatsApp.png" alt="WhatsApp" class="footer__contacts-img">
            </div>
            <div class="footer__contacts-email">E-mail:</div>
            <div class="footer__contacts-wrap">
                <img src="/img/footer/Instagram.png" alt="Instagram" class="footer__contacts-img">
                <img src="/img/footer/Facebook.png" alt="Facebook" class="footer__contacts-img">
            </div>
        </div>
        <div class="footer__pay">
            <div class="footer__title">Оплата</div>
            <img src="/img/footer/master.png" alt="master" class="footer__pay-img-master">
            <img src="/img/footer/visa.png" alt="visa" class="footer__pay-img-visa">
            <img src="/img/footer/pay.png" alt="apple" class="footer__pay-img-apple">
        </div>
    </div>
    <div class="footer-line"></div>
    <div class="copyright">
        Copyright © 2022 «Dansk Studio». Студия датского языка
    </div>
</footer>