<header class="header content-wrap">
    <div class="header__logo logo">
        <div class="logo__wrap">
            <img src="/img/header/logobg.png" alt="logobg" class="logo__img-bg">
            <img src="/img/header/Dansk.png" alt="Dansk" class="logo__img-dansk">
            <img src="/img/header/Studio.png" alt="Studio" class="logo__img-studio">
        </div>
        <div class="logo__title">студия изучения датского языка</div>
    </div>
    <nav class="header__nav">
        <div class="nav-item active-item">Главная</div>
        <div class="nav-item">Обо мне</div>
        <div class="nav-item">Услуги</div>
        <div class="nav-item">Участие и оплата</div>
        <div class="nav-item">Как записаться</div>
        <div class="nav-item">Контакты</div>
        <div class="nav-item">Отзывы</div>
    </nav>
    <div class="header__social">
        <img src="/img/header/Telegram App.png" alt="Telegram" class="header__social-img">
        <img src="/img/header/WhatsApp.png" alt="WhatsApp" class="header__social-img">
        <img src="/img/header/Viber.png" alt="Viber" class="header__social-img">
    </div>
    <div class="header__lang">RU</div>
</header>