<div class="overflowblackFree">
    <div class="freelesson">
        <div class="freelesson__title">Первый пробный урок в Dansk Studio со скидкой 50%! <br> Для любого уровня от новичка до продвинутого</div>
        <form class="freelesson__form">
            <input type="text" name="name" placeholder="Имя">
            <input type="email" name="email" placeholder="Почта">
            <input type="tel" name="tel" placeholder="Телефон">
            <a href="#"><div class="questionnaire__btn">записаться</div></a>    
        </form>
        
        <img src="/img/Close.png" alt="Close" class="questionnaire__img">
    </div>
</div>