<div class="overflowblack">
    <div class="questionnaire">
        <div class="questionnaire__title">Заполните нашу анкету на определение <br> уровня владения языком и мы поможем <br> подобрать вам обучающий курс</div>
        <a href="/questionnaire"><div class="questionnaire__btn">заполнить анкету</div></a>
        <img src="/img/Close.png" alt="Close" class="questionnaire__img">
    </div>
</div>