<main class="aboutme-wrapper content-wrap">
    <div class="top-title-aboutme">О ПРЕПОДАВАТЕЛЕ ONLINE-ШКОЛЫ DANSK STUDIO</div>
    <div class="aboutme-education">
        <div class="education-aboutme">
            <div class="education-me__title">Oбразование:</div>
            <div class="education-me__item">
                <div class="education-me__check">
                    <img src="/img/index/Done.png" alt="done">
                </div>
                <div class="education-me__description">
                    <span>МГПИ им. Н. К. Крупской</span>, г. Йошкар-Ола, р-ка Марий- Эл, Россия. Факультет <br> иностранных языков. Английская филология.
                </div>
            </div>
            <div class="education-me__item">
                <div class="education-me__check">
                    <img src="/img/index/Done.png" alt="done">
                </div>
                <div class="education-me__description"> <span>Sprogcenter Nordsjælland</span>, Hillerød. </div>
            </div>
            <div class="education-me__item">
                <div class="education-me__check">
                    <img src="/img/index/Done.png" alt="done">
                </div>
                <div class="education-me__description"><span>University College Sjælland</span>. Holbæk. (nu- Roskilde). Linjefag- Dansk. Dansk som<br> andetsprog. <br>Учительская семинария: датский язык и датский язык как второй для детей-билингвов в<br> общеобразовательных школах Дании.</div>
            </div>
            <div class="education-me__item">
                <div class="education-me__check">
                    <img src="/img/index/Done.png" alt="done">
                </div>
                <div class="education-me__description"><span>Датский педагогический университет по специальности преподаватель датского<br> языка взрослым иностранцам</span>. <br> DPU, Århus Universitet, København. Uddannelsen til underviser i dansk som andet-og<br> fremmedsprog til voksne og unge.<br>Дипломную работу по теме произношение датского языка сдала на высший бал (12).</div>
            </div>
        </div>
    </div>
    <div class="aboutme-courses">
        <div class="aboutme-courses__title">Курсы, семинары повышения квалификации:</div>
        <ol class="aboutme-courses__list">
            <li class="aboutme-courses__item">Kursus i voksenpædagogik. University College Sjælland.</li>
            <li class="aboutme-courses__item">Kursus i konflikthåndtering. University College Sjælland.</li>
            <li class="aboutme-courses__item">Smartboardkursus.</li>
            <li class="aboutme-courses__item">Kursus i blended learning.</li>
            <li class="aboutme-courses__item">Læsning på L1 (første sprog) og L 2 (andet sprog) ved Kirsten Andersen.</li>
            <li class="aboutme-courses__item">Taskbaseret undervisning. Hvordan arbejder vi med mundtlighed i danskundervisningen? <br> Ved Christina Helleshøj og Hanna Niemann.</li>
            <li class="aboutme-courses__item">Arbejdsmarkedsrettet dansk. Metoder til sproglæring ift temaet Det danske arbejdsmarked <br> og dansk arbejdskultur ved Bente Arildsen.</li>
            <li class="aboutme-courses__item">Thinking approach ved Aleksander Sokol og Elina Maslo.</li>
            <li class="aboutme-courses__item">Cooperative learning i DSA- undervisningen. (Pædagogisk weekend.)</li>
            <li class="aboutme-courses__item">The flipped classroom ved David Jørgensen.</li>
        </ol>
    </div>
    <div class="aboutme-imgs">
        <img src="/img/aboutmebg.png" alt="bg" class="aboutme-imgs__bg">
        <img src="/img/index/master-photo.png" alt="photo" class="aboutme-imgs__photo">
    </div>
    <div class="business">
        <div class="business__title">Деятельность:</div>
        <div class="business__items">
            <div class="education-me__item">
                <div class="education-me__check">
                    <img src="/img/index/Done.png" alt="done">
                </div>
                <div class="education-me__description">первый преподавательский опыт получила будучи школьницей, в 15 лет- готовила к школе свою младшую сестру и давала частные уроки по английскому языку младшим школьникам по рекомендациям знакомых.</div>
            </div>
            <div class="education-me__item">
                <div class="education-me__check">
                    <img src="/img/index/Done.png" alt="done">
                </div>
                <div class="education-me__description"> частный репетитор английского языка для детей школьного и дошкольного возраста;</div>
            </div>
            <div class="education-me__item">
                <div class="education-me__check">
                    <img src="/img/index/Done.png" alt="done">
                </div>
                <div class="education-me__description">учитель английского языка в школе-интернате республиканского значения;</div>
            </div>
            <div class="education-me__item">
                <div class="education-me__check">
                    <img src="/img/index/Done.png" alt="done">
                </div>
                <div class="education-me__description">устный и письменный переводчик, английский-русский языки- фриланс.</div>
            </div>
            <div class="education-me__item">
                <div class="education-me__check">
                    <img src="/img/index/Done.png" alt="done">
                </div>
                <div class="education-me__description">преподаватель датского языка в языковых школах Дании, главным образом в г. Holbæk; также есть опыт работы в других языковых школах- Clavis, Næstved, Каlundborg.</div>
            </div>
            <div class="education-me__item">
                <div class="education-me__check">
                    <img src="/img/index/Done.png" alt="done">
                </div>
                <div class="education-me__description">За время работы в языковых школах я помогла с изучением датского языка огромному количеству студентов. B мои обязанности входило следующее- преподавание датского языка на различных уровнях- DU1, DU2, DU3, тестирование студентов, подготовка к тестам, экзаменам.</div>
            </div>
            <div class="education-me__item">
                <div class="education-me__check">
                    <img src="/img/index/Done.png" alt="done">
                </div>
                <div class="education-me__description">L ø n r a m m e / t r i n- 42, высшая категория.</div>
            </div>
            <div class="education-me__item">
                <div class="education-me__check">
                    <img src="/img/index/Done.png" alt="done">
                </div>
                <div class="education-me__description">специалист по изучению датского языка для детей-билингвов в общеобразовательных школах коммуны Holbæk.</div>
            </div>
                <div class="education-me__item">
                <div class="education-me__check">
                    <img src="/img/index/Done.png" alt="done">
                </div>
                <div class="education-me__description">автор курсов и проектов по изучению датского языка.</div>
            </div>
        </div>
    </div>
    <div class="aboutme-btns">
        <div class="aboutme-btns__left">анкета для определения уровня</div>
        <div class="aboutme-btns__right">Записаться на пробный ONLINE урок</div>
    </div>
</main>