<main class="admin-wrapper content-wrap">
    <form class="addservices" method="POST">
        <h2>УСЛУГИ DANSK STUDIO</h2>
        <input type="text" name="title" placeholder="Название курса" required>
        <input type="text" name="time" placeholder="Продолжительность" required>
        <input type="number" name="cost" placeholder="Цена" required>
        <select name="name-course" required>
            <option>АВТОРСКИЕ КУРСЫ ПО ПРОИЗНОШЕНИЮ</option>
            <option>ИНДИВИДУАЛЬНЫЕ ЗАНЯТИЯ</option>
            <option>ЗАНЯТИЯ В ГРУППАХ</option>
        </select>
        <button type="submit">Добавить новую</button>
    </form>

    <section class="lessons-panel">
        <div class="lessons-panel__show">Заявки на бесплатный урок</div>
        <div class="lessons-panel__content"></div>
        <div class="lessons-panel__hide">Скрыть заявки</div>
    </section>

    <section class="schedule-panel">
        <div class="schedule-panel__show">Запрос расписания</div>
        <div class="schedule-panel__content"></div>
        <div class="schedule-panel__hide">Скрыть заявки</div>
    </section>

    <section class="questionnaire-panel">
        <div class="questionnaire-panel__show">Анкеты</div>
        <div class="questionnaire-panel__content"></div>
        <div class="questionnaire-panel__hide">Скрыть</div>
    </section>
</main>