<main class="admin-wrapper content-wrap">
    <form class="addservices" method="POST">
        <h2>УСЛУГИ DANSK STUDIO</h2>
        <input type="text" name="title" placeholder="Название курса" required>
        <input type="text" name="time" placeholder="Продолжительность" required>
        <input type="number" name="cost" placeholder="Цена" required>
        <select name="name-course" required>
            <option>АВТОРСКИЕ КУРСЫ ПО ПРОИЗНОШЕНИЮ</option>
            <option>ИНДИВИДУАЛЬНЫЕ ЗАНЯТИЯ</option>
            <option>ЗАНЯТИЯ В ГРУППАХ</option>
        </select>
        <button type="submit">Добавить новую</button>
    </form>
</main>