<main class="main">
    <section class="test-online content-wrap">
        <div class="test-online__wrapper">
            <div class="test-online__title">ХОТИТЕ ИЗУЧИТЬ ДАТСКИЙ ЯЗЫК?</div>
            <div class="test-online__subtitle">ЗАПИСЫВАЙТЕСЬ В НАШУ СТУДИЮ!</div>
            <div class="test-online__text">Первый пробный урок в Dansk Studio со скидкой 50%!</div>
            <div class="test-online__text">Для любого уровня от новичка до продвинутого</div>
            <button class="test-online__btn btn">Записаться на пробный ONLINE урок</button>
        </div>
        <div class="test-online__img">
            <img src="/img/index/bg.png" alt="background" class="test-online__img-bg">
            <img src="/img/index/city.png" alt="city" class="test-online__img-city">
        </div>
    </section>
    {{!-- <section class="oboutme content-wrap">
        <div class="oboutme__wrap">
            <div class="oboutme__line"></div>
            <div class="oboutme__title">ОБО МНЕ</div>
        </div>
        <div class="oboutme__content">
            <div class="oboutme__photo"></div>
            <div class="oboutme__description">
                <div class="oboutme__text">
                    <p>
                        Рада приветствовать всех небезразличных к иностранным языкам! <br> Меня зовут Олеся, и я - квалифицированный преподаватель датского языка.
                    </p>
                    <p>
                        Я очень люблю изучать и преподавать иностранные языки. Датский язык я начала изучать <br> в Дании уже будучи взрослой, а вообще, языки я изучаю сколько себя помню, <br> а преподаю с 15 лет.  Живу в Дании с 2007 и с 2010 начала работать в языковых школах и <br> преподавать датский язык взрослым иностранцам из разных уголков мира. <br>
                    </p>
                    <p>
                        Последние 2 года я развиваю свой авторский проект "Dansk studio", создала несколько <br> авторских курсов (по произношению, грамматике) и планирую  реализовать ещё <br> несколько творческих идей, которые помогут многим изучающим датский язык.
                    </p>
                </div>
                <div class="oboutme__education">

                </div>
            </div>
        </div>
    </section> --}}
</main>