<main class="main">
    <section class="test-online content-wrap">
        <div class="test-online__wrapper">
            <div class="test-online__title">ХОТИТЕ ИЗУЧИТЬ ДАТСКИЙ ЯЗЫК?</div>
            <div class="test-online__subtitle">ЗАПИСЫВАЙТЕСЬ В НАШУ СТУДИЮ!</div>
            <div class="test-online__text">Первый пробный урок в Dansk Studio со скидкой 50%!</div>
            <div class="test-online__text">Для любого уровня от новичка до продвинутого</div>
            <button class="test-online__btn btn">Записаться на пробный ONLINE урок</button>
        </div>
        <div class="test-online__img">
            <img src="/img/index/bg.png" alt="background" class="test-online__img-bg">
            <img src="/img/index/city.png" alt="city" class="test-online__img-city">
        </div>
    </section>
    <section class="oboutme content-wrap">
        <div class="oboutme__wrap">
            <div class="oboutme__line"></div>
            <div class="oboutme__title">ОБО МНЕ</div>
        </div>
        <div class="oboutme__content">
            <div class="oboutme__photo">
                <img src="/img/index/master-photo.png" alt="" class="oboutme__photo-master">
                <img src="/img/index/buble-group.png" alt="" class="oboutme__photo-buble">
                <div class="oboutme__photo-title">основатель школы</div>
            </div>
            <div class="oboutme__description">
                <div class="oboutme__text">
                    <p>
                        Рада приветствовать всех небезразличных к иностранным языкам! <br> Меня зовут Олеся, и я - квалифицированный преподаватель датского языка.
                    </p>
                    <p>
                        Я очень люблю изучать и преподавать иностранные языки. Датский язык я начала изучать <br> в Дании уже будучи взрослой, а вообще, языки я изучаю сколько себя помню, <br> а преподаю с 15 лет.  Живу в Дании с 2007 и с 2010 начала работать в языковых школах и <br> преподавать датский язык взрослым иностранцам из разных уголков мира. <br>
                    </p>
                    <p>
                        Последние 2 года я развиваю свой авторский проект "Dansk studio", создала несколько <br> авторских курсов (по произношению, грамматике) и планирую  реализовать ещё <br> несколько творческих идей, которые помогут многим изучающим датский язык.
                    </p>
                </div>
                <div class="oboutme__education education-me">
                    <div class="education-me__title">о моём образовании</div>
                    <div class="education-me__item">
                        <div class="education-me__check">
                            <img src="/img/index/Done.png" alt="done">
                        </div>
                        <div class="education-me__description">
                            <span>МГПИ им. Н. К. Крупской</span>, г. Йошкар-Ола, р-ка Марий- Эл, Россия. Факультет иностранных языков. Английская филология.
                        </div>
                    </div>
                    <div class="education-me__item">
                        <div class="education-me__check">
                            <img src="/img/index/Done.png" alt="done">
                        </div>
                        <div class="education-me__description"> <span>Sprogcenter Nordsjælland</span>, Hillerød. </div>
                    </div>
                    <div class="education-me__item">
                        <div class="education-me__check">
                            <img src="/img/index/Done.png" alt="done">
                        </div>
                        <div class="education-me__description"><span>University College Sjælland</span>. Holbæk. (nu- Roskilde). Linjefag- Dansk. Dansk som andetsprog. <br>Учительская семинария: датский язык и датский язык как второй для детей-билингвов в общеобразовательных школах Дании.</div>
                    </div>
                    <div class="education-me__item">
                        <div class="education-me__check">
                            <img src="/img/index/Done.png" alt="done">
                        </div>
                        <div class="education-me__description"><span>Датский педагогический университет по специальности преподаватель датского языка взрослым иностранцам</span>. <br> DPU, Århus Universitet, København. Uddannelsen til underviser i dansk som andet-og fremmedsprog til voksne og unge.<br>Дипломную работу по теме произношение датского языка сдала на высший бал (12).</div>
                    </div>
                    <div class="education-me__link">
                        <div class="education-me__link-text">О повышении квалификации и моей деятельности</div>
                        <img src="/img/index/right.png" class="education-me__link-arrow" alt="arrow">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="utils">
        <div class="utils__title">
            <div class="utils__title-text">Какие услуги <br> предлагает студия</div>
            <div class="utils__title-line"></div>
        </div>
        <div class="utils__wrapp">
            <div class="utils__content content-wrap">
                <div class="utils__content-item utils-card">
                    <div class="utils-card__title"> <span>АВТОРСКИЕ <br> КУРСЫ ПО <br>ПРОИЗНОШЕНИЮ</span> </div>
                    <img src="/img/index/1.png" alt="1" class="utils-card__img">
                    <div class="utils-card__btn">ПОДРОБнее</div>
                </div>
                    <div class="utils__content-item utils-card">
                    <div class="utils-card__title"> <span>индивидуальные занятия:</span> произношение, подготовка к экзаменам, датский для начинающих и ваши индивидуальные языковые потребности</div>
                    <img src="/img/index/2.png" alt="2" class="utils-card__img">
                    <div class="utils-card__btn">ПОДРОБнее</div>
                </div>
                    <div class="utils__content-item utils-card">
                    <div class="utils-card__title"> <span>занятия в группах:</span> <br>датский с нуля, разговорный клуб, постановка произношения</div>
                    <img src="/img/index/3.png" alt="3" class="utils-card__img">
                    <div class="utils-card__btn">ПОДРОБнее</div>
                </div>
            </div>
            <div class="utils__imgs">
                <img src="/img/index/left-left.png" alt="left" class="utils__imgs-left">
                <img src="/img/index/right-right.png" alt="right" class="utils__imgs-right">
            </div>
        </div>
    </section>
    <section class="first-step">
        <div class="first-step__title">
            <div class="first-step__title-line"></div>
            <div class="first-step__title-text">Сделайте первый шаг <br> к изучению датского языка</div>
        </div>
        <div class="first-step__content content-wrap">
            <div class="first-step__anketa">
                <div class="anketa">
                    <div class="anketa__item">
                        <div class="anketa__number">01</div>
                        <div class="anketa__title">Выбор подходящего <br> формата обучения</div>
                    </div>
                    <div class="anketa__item">
                        <div class="anketa__number">02</div>
                        <div class="anketa__title">подача заявки <br> на обучение</div>
                    </div>
                    <div class="anketa__item">
                        <div class="anketa__number">03</div>
                        <div class="anketa__title">знакомство по телефону, назначение урока</div>
                    </div>
                    <div class="anketa__item">
                        <div class="anketa__number">04</div>
                        <div class="anketa__title">ваше первое пробное занятие</div>
                    </div>
                </div>
                <div class="first-step__anketa-btn">анкета для определения уровня</div>
            </div>
            <div class="first-step__imgs">
                <img src="/img/index/step-bg.png" alt="bg" class="first-step__bg">
                <img src="/img/index/step-img.png" alt="img" class="first-step__img">
            </div>
        </div>
    </section>
    <section class="date">
        <div class="date__title">
            <div class="date__title-text">Узнать расписание</div>
            <div class="date__title-line"></div>
        </div>
        <div class="date__content">
            <div class="date__content-title">Перед оплатой курса узнайте, есть ли места в группе, не возникло ли переноса или отмены занятий</div>
            <form action="#" class="date__content-form date-form">
                <div class="date-form__inputs">
                    <label>Ваше имя*<input type="text" name="name" class="date-form__inp"></label>
                    <label>Ваш e-mail*<input type="email" name="email" class="date-form__inp"></label>
                    <label>Ваш телефон*<input type="tel" name="phone" class="date-form__inp"></label>
                    <label>Ваш Skype<input type="text" name="skype" class="date-form__inp"></label>
                </div>
                <div class="date-form__description">
                    <div class="date-form__description-text">* Поля, отмеченные звездочкой, являются <br> обязательными для заполнения</div>
                    <div class="date-form__description-text">Нажимая кнопку, вы даете согласие на обработку <br> своих персональных данных</div>
                    <div class="date-form__description-btn">отправить</div>
                </div>
            </form>
        </div>
    </section>
    <section class="review">
        <div class="review__title">
            <div class="review__title-line"></div>
            <div class="review__title-text">Отзывы о dansk studio</div>
        </div>
        <div class="review__wrapper content-wrap">
            <img src="/img/index/review1.png" alt="review" class="review__item">
            <img src="/img/index/review2.png" alt="review" class="review__item">
            <img src="/img/index/review3.png" alt="review" class="review__item">
            <img src="/img/index/review4.png" alt="review" class="review__item">
        </div>
    </section>
</main>