<main class="workandpay content-wrap">
    <div class="workandpay__title">Условия участия и оплата</div>
    <div class="workandpay__text">
        <p>Оплата обучения</p>
        <p>Обучаясь в школе Dansk Studio, оплачивать занятия вы можете: <br>
            -как физическое лицо в офисе или online;<br>
            -компания за вас по безналичному расчету;<br>
            -в рамках корпоративного обучения.
        </p>
        <p>Оплатить обучение в школе можно картой Mastercard или Visa онлайн, либо через сервисы PayPal, ApplePay.</p>
        <p>Осуществить платеж за очередной семестр можно не ранее, чем за 20 дней до окончания предыдущего оплаченного периода.</p>
        <p>После осуществленного платежа информация об оплате семестра в течение часа поступает в базу данных школы. Во избежание спорных ситуаций, пожалуйста, сохраняйте чек, который вы сможете предъявить вашему преподавателю при необходимости. </p>
        <p>Перед осуществлением оплаты, стоимость обучения можно уточнить по телефону у наших специалистов по работе с клиентами.</p>
        <p>Важную информацию о порядке оплаты обучения, первом пробном занятии, компенсациях за пропуски и др. смотрите здесь.</p>
    </div>
</main>