*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
a{color: inherit;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    color: #333333;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}


body {
    display: flex;
    flex-direction: column;
}
.content-wrap{
    width: 1376px;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* HEADER */
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    box-shadow: 0px 4px 10px rgba(105, 105, 105, 0.1);
}
.header__logo{
    margin-top: 14px;
    margin-right: 42px;
    margin-bottom: 8px;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo__wrap{
    position: relative;
    width: 112px;
    height: 77.84px;
}
.logo__img-bg{
    position: absolute;
    z-index: 1;
    width: 112px;
    height: 77.84px;

}
.logo__img-dansk{
    position: absolute;
    z-index: 2;
    width: 78px;
    height: 28px;
    top: 10.5px;
    left: 7px;
}
.logo__img-studio{
    position: absolute;
    z-index: 2;
    width: 89px;
    height: 28px;
    top: 35.5px;
    left: 16px;
}
.logo__title{
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-transform: lowercase;
    color: #3D3F42;
}
.header__nav{
    display: flex;
    align-items: center;
    margin-right: 63px;
}
.nav-item{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.header__nav .nav-item:not(:last-child){
    margin-right: 38px;
}
.active-item{
    font-weight: 600;
}
.header__social{
    display: flex;
    align-items: center;
    margin-right: 28px;
}
.header__social-img{
    width: 30px;
    height: 30px;
}
.header__social-img:not(:last-child){
    margin-right: 12px;
}
.header__lang{
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #0C58C9;
}


/* FOOTER */


.footer{
    height: 377px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-wrapper{
    display: flex;
    margin-top: 34px;
}
.footer__logo {
    margin-right: 140px;
}
.footer__nav{
    display: flex;
    flex-direction: column;
    margin-right: 131px;
}
.footer__nav .nav-item:not(:last-child){
    margin-bottom: 19px;
}
.footer__contacts{
    margin-right: 266px;
}
.footer__contacts-wrap{
    display: flex;
    margin-bottom: 12px;
}
.footer__contacts-img{
    width: 50px;
    height: 50px; 
    margin-right: 10px;  
}
.footer__contacts-email{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 39px;
}
.footer__pay{
    display: flex;
    flex-direction: column;
}
.footer__title{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #333333;
    margin-bottom: 21px;
}
.footer__pay-img-master{
    width: 71px;
    height: 56px;
    margin-bottom: 19px;
}
.footer__pay-img-visa{
    width: 87px;
    height: 28px;
}
.footer__pay-img-apple{
    width: 80px;
    height: 80px;
}
.footer-line{
    margin-top: 40px;
    margin-bottom: 21px;
    width: 100%;
    border: 1px solid #E5E5E5;
}
.copyright{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 21px;
}


/* TEST ONLINE */


.test-online{
    display: flex;
    position: relative;
    height: 597px;
}
.test-online__wrapper{
    display: flex;
    flex-direction: column;
    height: 561px;
}
.test-online__title{
    font-weight: 900;
    font-size: 42px;
    line-height: 49px;
    color: #ECBF2E;
    margin-top: 174px;
    margin-bottom: 1px;
}
.test-online__subtitle{
    font-weight: 900;
    font-size: 42px;
    line-height: 49px;
    color: #C90C31;
    margin-bottom: 31px;
}
.test-online__text{
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
}
.test-online__btn{
    margin-top: 42px;
}
.btn{
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    width: 521px;
    height: 68px;
    border: 3px solid #ECBF2E;
    box-sizing: border-box;
    box-shadow: -4px -4px 20px #F4E8DA, 4px 4px 20px #F4E8DA;
    border-radius: 20px;
}
.test-online__img{
    margin-top: 10px;
    position: absolute;
    right: -20px;
    width: 640px;
    height: 561px;
}
.test-online__img-bg{
    width: 640px;
    height: 561px;
    position: absolute;
    z-index: 1;
}
.test-online__img-city{
    width: 555px;
    height: 414px;
    position: absolute;
    top: 83px;
    right: 20px;
    z-index: 2;
}


/* OBOUTME */


.oboutme{
    display: flex;
    flex-direction: column;
    margin-bottom: 123px;
}
.oboutme__wrap{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 76px;
}
.oboutme__line{
    position: absolute;
    width: 828px;
    border: 4px solid #F4E8DA;
    left: -265px;
}
.oboutme__title{
    font-weight: 800;
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;
    color: #0C6EC9;
}
.oboutme__content{
    display: flex;
    justify-content: space-between;
}
.oboutme__photo{
    position: relative;
}
.oboutme__photo-master{
    width: 450px;
    height: 609px;
    border-radius: 30px;
    position: absolute;
    z-index: 2;
}
.oboutme__photo-buble{
    width: 446.69px;
    height: 412.65px;
    position: absolute;
    z-index: 1;
    bottom: 80px;
    left: -95px;
}
.oboutme__photo-title{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    position: absolute;
    z-index: 2;
    bottom: 170px;
    right: -440px;
}
/* .oboutme__description{} */
.oboutme__text{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 42px;
}
.oboutme__text p:not(:last-child){
    margin-bottom: 20px;
}
/* .oboutme__education{} */
.education-me{
    padding: 30px 35px;
    width: 862px;
    height: 532px;
    background: #FFFFFF;
    border: 3px solid #F4E8DA;
    box-sizing: border-box;
    border-radius: 20px;
}
.education-me__title{
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.education-me__item{
    display: flex;
    margin-bottom: 20px;
}
.education-me__check{
    width: 25px;
    height: 25px;
    margin-right: 4px;
}
.education-me__description{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.education-me__description span{
    font-weight: 600;
}
.education-me__link{
    display: flex;
}
.education-me__link-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #0C58C9;
}
.education-me__link-arrow{
    width: 30px;
    height: 30px;
}


/* UTILS */


.utils{
    width: 1920px;
    height: 730px;
    display: flex;
    flex-direction: column;
}
.utils__wrapp{
    position: relative;
}
.utils__title{
    margin-left: 272px;
    display: flex;
    position: relative;
}
.utils__title-text{
    font-weight: 800;
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;
    color: #0C58C9;
    margin-left: 15px;
}
.utils__title-line{
    width: 1060px;
    height: 0;
    border: 4px solid #F4E8DA;
    position: absolute;
    top: 38px;
    left: 580px;
}
.utils__content{
    display: flex;
    column-gap: 20px;
    position: absolute;
    z-index: 2;
    top: 109px;
    left: 274px;
}
/* .utils__content-item{} */
.utils-card{
    padding: 55px 32px 30px 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 444px;
    height: 361px;
    background: #FFFFFF;
    border: 2px solid #F4E8DA;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}
.utils-card__title{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.utils-card__title span{
    font-weight: 600;
    font-size: 24px;
    line-height: 107%;
    text-transform: uppercase;
}
.utils-card__img{
    width: 84px;
    height: 84px;
}
.utils-card__btn{
    cursor: pointer;
    margin-top: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 21px 34px;
    width: 206px;
    height: 55px;
    background: #FFFFFF;
    border: 3px solid #C90C31;
    box-sizing: border-box;
    box-shadow: -4px -4px 20px #F4E8DA, 4px 4px 20px #F4E8DA;
    border-radius: 20px;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
}


/* FIRST STEP */


.first-step{
    width: 1920px;
    height: 697px;
    display: flex;
    flex-direction: column;
}
.first-step__title{
    display: flex;
    position: relative;
}
.first-step__title-text{
    margin-left: 856px;
    font-weight: 800;
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;
    color: #0C58C9;
}
.first-step__title-line{
    width: 828px;
    border: 4px solid #F4E8DA;
    position: absolute;
    top: 38px;
    left: 0;
}
.first-step__content{
    margin: 0 auto;
    display: flex;
    margin-top: 66px;
}
/* .first-step__anketa{} */
.anketa{
    width: 619px;
    height: 262px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    column-gap: 85px;
}
.anketa__item{
    width: 267px;
    height: 105px;
    display: flex;
    flex-direction: column;
}
.anketa__number{
    margin-bottom: 2px;
    font-weight: 550;
    font-size: 64px;
    line-height: 63px;
    text-transform: uppercase;
    color: #ECBF2E;
}
.anketa__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #3D3F42;
}
.first-step__anketa-btn{
    cursor: pointer;
    margin-top: 47px;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 438px;
    height: 68px;
    background: #F4E8DA;
    border: 1px solid #ECBF2E;
    box-sizing: border-box;
    border-radius: 20px;
}
.first-step__imgs{
    position: relative;
    margin-left: 80px;
}
.first-step__bg{
    width: 491px;
    height: 507px;
    position: absolute;
    z-index: 1;
    top: -51px;
    left: 200px;
}
.first-step__img{
    width: 674px;
    height: 377px;
    border-radius: 20px;
    position: absolute;
    z-index: 2;
}


/* DATE */


.date{
    height: 502px;
    display: flex;
    flex-direction: column;
}
.date__title{
    display: flex;
    position: relative;
}
.date__title-text{
    margin-left: 15px;
    font-weight: 800;
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;
    color: #0C58C9;
}
.date__title-line{
    position: absolute;
    width: 1060px;
    top: 19px;
    left: 580px;
    border: 4px solid #F4E8DA;
}
.date__content{
    width: 1384px;
    display: flex;
    flex-direction: column;
}
.date__content-title{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    margin-top: 31px;
    margin-bottom: 50px;
}
/* .date__content-form{} */
.date-form{
    display: flex;
}
.date-form__inputs{
    display: flex;
    flex-wrap: wrap;
    width: 807px;
    height: 234px;
    row-gap: 40px;
    column-gap: 112px;
}
.date-form__inputs label{
    width: 346px;
    display: flex;
    flex-direction: column;
}
.date-form__inp{
    margin-top: 10px;
    width: 346px;
    height: 66px;
    background: #FFFFFF;
    border: 1px solid #ECBF2E;
    box-sizing: border-box;
    box-shadow: inset 4px 4px 10px #E6D2BB;
    border-radius: 10px;
}
.date-form__description{
    margin-top: 31px;
    margin-left: 114px;
    display: flex;
    flex-direction: column;
}
.date-form__description-text{
    font-weight: 400;
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 23px;
}
.date-form__description-btn{
    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 68px;
    background: #FFFFFF;
    border: 3px solid #ECBF2E;
    box-sizing: border-box;
    box-shadow: -4px -4px 20px #F4E8DA, 4px 4px 20px #F4E8DA;
    border-radius: 20px;
}


/* REVIEW */


.review{
    width: 1920px;
    display: flex;
    flex-direction: column;
    margin-bottom: 65px;
}
.review__title{
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}
.review__title-text{
    font-weight: 800;
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;
    color: #0C58C9;
}
.review__title-line{
    width: 828px;
    border: 4px solid #F4E8DA;
    margin-right: 28px;
}
.review__wrapper{
    margin: 0 auto;
    display: flex;
}
.review__item{
    width: 328px;
    height: 458px;
}
.review__item:not(:last-child){
    margin-right: 20px;
}
.main-line{
    width: 1920px;
    border: 3px solid #F4E8DA;
}


/* ***********************ABOUTME PAGE************************** */


.aboutme-wrapper{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.top-title-aboutme{
    font-weight: 800;
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;
    color: #0C58C9;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 65px;
}
.aboutme-education{
    display: flex;
    flex-direction: column;
}
.education-aboutme{
    margin-bottom: 54px;
}
.aboutme-courses{
    margin-bottom: 54px;
}
.aboutme-courses__title{
    font-weight: 600;
    font-size: 24px;
    line-height: 107%;
    text-transform: uppercase;
    margin-bottom: 24px;
}
/* .aboutme-courses__list{} */
.aboutme-courses__item{
    margin-left: 23px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.business{
    display: flex;
    flex-direction: column;
}
.business__title{
    font-weight: 600;
    font-size: 24px;
    line-height: 107%;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.business__items{
    display: flex;
    flex-direction: column;
    margin-bottom: 57px;
}
.aboutme-btns{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 59px;
}
.aboutme-btns__left{
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 438px;
    height: 68px;
    background: #F4E8DA;
    border: 1px solid #ECBF2E;
    box-sizing: border-box;
    border-radius: 20px;
    margin-right: 60px;
}
.aboutme-btns__right{
    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 521px;
    height: 68px;
    background: #FFFFFF;
    border: 3px solid #ECBF2E;
    box-sizing: border-box;
    box-shadow: -4px -4px 20px #F4E8DA, 4px 4px 20px #F4E8DA;
    border-radius: 20px;
}
.aboutme-imgs{
    position: relative;
}
.aboutme-imgs__bg{
    position: absolute;
    width: 672px;
    height: 589px;
    top: -650px;
    right: -135px;
    z-index: 1;
}
.aboutme-imgs__photo{
    position: absolute;
    width: 450px;
    height: 609px;
    top: -810px;
    right: 10px;
    z-index: 2;
}


/* ******************* UTILS PAGE ***************** */


.utils-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-studio{
    font-weight: 800;
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;
    color: #0C58C9;
    margin-top: 60px;
    margin-bottom: 44px;
}
.text-studio{
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 88px;
}
.text-studio span{
    font-weight: 600;
    text-decoration: underline;
    text-transform: uppercase;
    color: #C90C31;
}
.utilits-tab{
    margin-bottom: 107px;
}
.tab{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.tab-active{
    border: 2px solid #F4E8DA;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
}
.tab__item{
    cursor: pointer;
    padding-top: 28px;
    width: 383px;
    height: 222px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.tab__item:hover{
    border: 2px solid #F4E8DA;
    box-sizing: border-box;
    border-radius: 20px;
}
.tab__img{
    width: 84px;
    height: 84px;
    margin-bottom: 27px;
}
.tab_title{
    font-weight: 600;
    font-size: 24px;
    line-height: 107%;
    text-align: center;
    text-transform: uppercase;
}
.utils-btns-wrapper{
    display: flex;
    margin-top: 80px;
    margin-bottom: 83px;
}
.utils-btn-date{
    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 308px;
    height: 68px;
    background: #F4E8DA;
    border: 1px solid #ECBF2E;
    box-sizing: border-box;
    border-radius: 20px;
    margin-right: 80px;
}
.utils-btn-course{
    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 406px;
    height: 68px;
    background: #FFFFFF;
    border: 3px solid #ECBF2E;
    box-sizing: border-box;
    box-shadow: -4px -4px 20px #F4E8DA, 4px 4px 20px #F4E8DA;
    border-radius: 20px;
}
.utils-tab-content{
    display: flex;
    flex-direction: column;
}
.tab-content__item{
    display: flex;
    flex-direction: column;
}
.tab-content__title-author{
    font-weight: 700;
    font-size: 24px;
    line-height: 107%;
    text-transform: uppercase;
    color: #C90C31;
    margin-bottom: 30px;
}
.tab-content__text-author{
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    margin-bottom: 50px;
}
.tab-content__description-author{
    display: flex;
    flex-direction: column;
}
.tab-content__description-author p{
    font-weight: 500;
    font-size: 22px;
    line-height: 107%;
    margin-bottom: 22px;
}
.tab-content__description-author span{
    font-weight: 600;
    font-size: 24px;
    line-height: 107%;
    margin-bottom: 40px;
}
.tab-content__text-ind{
    display: flex;
    flex-direction: column;
    font-size: 22px;
    margin-bottom: 30px;
}
.tab-content__text-ind span{
    font-weight: 700;
    font-size: 24px;
    line-height: 107%;
    text-transform: uppercase;
    color: #C90C31;
}
.tab-content__cost-ind{
    font-weight: 500;
    font-size: 22px;
    line-height: 107%;
}
.tab-content__cost-ind p{
    font-weight: 700;
    font-size: 22px;
    line-height: 107%;
}
.tab-content__cost-ind p:not(:first-child,:last-child){
    margin-bottom: 22px;
}
.group-bold,.group-bold-mb{
    font-weight: 700;
    font-size: 22px;
    line-height: 107%;
    margin-bottom: 30px;
}
.group-bold-mb{
    margin-bottom: 60px;
}
.group-text-mb{
    margin-bottom: 25px;
}
.group-text-bold-norm{
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
}
.group-text-bold-norm span{
    font-weight: 700;
    font-size: 22px;
    line-height: 107%;
}

/* ****** WORKANDPAY ****** */


.workandpay{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}
.workandpay__title{
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 51px;
    font-weight: 800;
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;
    color: #0C58C9;
}
.workandpay__text{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.workandpay__text p{
    margin-bottom: 30px;
}
.workandpay__text p:nth-child(2){
    margin-bottom: 50px;
}
.workandpay__text p:nth-child(3){
    margin-bottom: 50px;
}
.workandpay__text p:nth-child(5){
    margin-bottom: 50px;
}


/* ****** ENROLL ****** */


.enroll{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 53px;
}
.enroll__title{
    margin-top: 60px;
    margin-bottom: 64px;
    font-weight: 800;
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;
    color: #0C58C9;
}
.enroll__subtitle{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
}
.enroll__form{
    display: flex;
    flex-direction: column;
    margin-bottom: 79px;
}
.enroll__form label{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 53px;
}
.enroll__form input{
    margin-top: 14px;
    width: 1313px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 15px;
}
.enroll__form-text{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 22px;
}
.enroll__form-text-bold{
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 22px;
}
.enroll__form button{
    cursor: pointer;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 68px;
    background: #FFFFFF;
    border: 3px solid #ECBF2E;
    box-sizing: border-box;
    box-shadow: -4px -4px 20px #F4E8DA, 4px 4px 20px #F4E8DA;
    border-radius: 20px;
}
.enroll__form-check{
    height: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
.enroll__form-check input{
    margin-top: 0;
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #3D3F42;
    box-sizing: border-box;
    border-radius: 8px;
    margin-right: 5px;
}


/* **** **** ADMIN **** ****  */


.admin-wrapper{
    margin: 60px auto;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.addservices{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #F4E8DA;
    box-sizing: border-box;
    box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 30px;
}
.addservices h2{
    font-weight: 800;
    font-size: 38px;
    line-height: 45px;
    text-transform: uppercase;
    color: #0C58C9;
    margin-bottom: 20px;
}
.addservices input{
    padding: 15px;
    margin-bottom: 20px;
    width: 800px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 20px;
}
.addservices button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 35px;
    background: #FFFFFF;
    border: 3px solid #00a2ff;
    box-sizing: border-box;
    box-shadow: 1px 1px 3px #00a2ff;
    border-radius: 20px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}
.addservices select{
    width: 400px;
    height: 35px;
    margin-bottom: 20px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
}